body {
    background-image: url(/img/Enmascarar\ grupo\ 1.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  .contenedor_lista {
    position: relative;
    top: 58px;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor_lista ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 100px;
  }
  
  .contenedor_lista ol li {
    text-align: center;
    font: normal normal medium 20px/24px 'Raleway', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.86;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
  }
  
  .contenedor_lista li:hover {
    border-bottom: 3px solid #FFE820;
  }
  .contenedor_lista a {
    text-decoration: none;
    color: inherit;
  }
  .contenedor_star_wars {
    position: absolute;
    top: 228px;
    left: 50%;
    transform: translateX(-50%);
    width: 254px;
    height: 113px;
    opacity: 1;
  }
  
  .contenedor_star_wars img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .esfera {
    position: absolute;
    top: 540px;
    left: 50%;
    transform: translateX(-50%);
    width: 932px;
    height: 932px;
    opacity: 1;
  }
  
  .esfera img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  
  .texto {
    position: absolute;
    top: 382px;
    left: 0;
    width: 100%;
    height: 42px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font: normal normal bold 36px/42px 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.86;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .texto h3 {
    margin: 0;
  }
  